$richblue: #1fa7e1;
$tan: #e7d19c;
$oceanblue: #22344c;
$grayblue: #455b7a;
$black: #243443;
$color--green: #7ac142;
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);


$baseblack: #979797;
$platinum: #E6EBE0;
$camblue: #9BC1BC;

$l-mobile-view: "screen and (min-width: 375px)";
$tablet-view: "screen and (min-width: 768px)";
$desktop-view: "screen and (min-width: 1024px)";

$cbc: cubic-bezier(.3,.13,.60,.89);