@import "_reset.scss";
@import "_vars.scss";
@import "_base.scss";
@import "_mixins.scss";



@mixin roundTopCorners($int){
    border-top-left-radius: $int;
    border-top-right-radius: $int;
}


 body {
    background-color: $flatred;
 }






.no-scroll{
    overflow: hidden;
}

// testing 
.wrap{
    // background-color: $flatred;
    transition: background-color 0.5s ease;

    // &:hover{
    //     background-color: #6C95CC;
    // }
}



.content-wrapper{
    display: flex; 
    flex-direction: column;

    // testing
    width: 97%;
    margin: 0 auto;
    // height: 100vh;
    // background-color: #ED6A5A;
}

.tab-content-container{

    margin: 0 auto;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;

    @media (orientation:landscape){
        
        top: 5%;
    }

    @media #{$tablet-view}{
        width: 70%
    }

    @media #{$desktop-view}{
        top: 20%;
        width: 60%;
    }
}

.container{
    // width: 80%;
    margin: 0 auto;
    // background-color: #ED6A5A;

    @media #{$tablet-view}{
        width: 80%;
    }

    @media #{$desktop-view}{
        width: 80%;
    }
}

// Header
// Logo
.logo-container{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid $baseblack;
    z-index: 10;
    background-color: rgb(245, 245, 245);

    // &__logo{
    //     text-align: center;
    //     color: #943737
    // }

    @media #{$tablet-view}{
        position: static;
    }

    @media #{$desktop-view}{
        position: static;
    }
}

.logo{
    width: 15%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 5px 0;
    transition: width 1s;
    // make width 20% when scroll position is past tracksdiv
}

.logo--size{
    width: 10%;
}

.hide-fixed-container{
    display: none;
}

// Solo classes
.fa-caret-right,
.fa-chevron-right{
    pointer-events: none;
    animation: animatedCaretReverse .6s $cbc forwards;
}

.fa-chevron-right{
    width: .4em !important; 
}


.fa-times{
    stroke-width: 1px;
}

.svg-inline--fa{
    vertical-align: -.25em;
}

.svg-inline--fa.fa-w-16{
    width: 2em;

    @media #{$tablet-view}{
        width: 5em;
        height: 5em
    }

    // testing
    @media #{$desktop-view}{
        width: 10em;
        height: 10em
    }
    
}

.close-modal-btn{
    position: absolute;
    top: -80px;
    right: 10px;
    // float: right;
    // width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
    padding: 0.5em 1em;

    @media #{$l-mobile-view}{
        top: -20px;
        right: 10px;
    }

    @media #{$tablet-view}{
        top: -20px;
        right: 0;
        padding: 0.5em 2em;
    }

    &:hover{
        background-color: darkgray;
        color: white;
    }

    &--tran{
        top: -50px;
    }
}


// Mood Input Fields
.mood{
    display: flex;
    align-items: center;
    flex-direction: column;
    

    &__input-container{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #EFA09B;

        


    }

    &__input-search{
        width: 100%;
        padding-bottom: 5px;
    }

    &__header{
        // margin: 1.2em .8em;

        // testing New styles under here testing **************
        font-size: 3rem;
        align-self: flex-start;
        // margin-top: 40px;
        // margin-bottom: 20px;
        margin: 1.5em 0;
        width: 100%;
        overflow-wrap: break-word;
        color: white;
        font-weight: $f-light;
        
        @media #{$tablet-view}{
            font-size: 4.5rem;
            margin: 2em 0;
        }

        @media #{$desktop-view}{
            font-size: 6rem;
            margin: 1em 0;
        }
    }

    &__form{
        width: 100%;

        @media #{$desktop-view}{
            // margin-top: 100px;
        }
        
    }

    &__val{
        
        border: none;
        border-radius: 10px;
        padding: 10px 0 10px 5px;
        width: 100%;
        background-color: $flatred;
        color: white;
        font-size: 1.8em;

         // testing

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #EFA09B;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: #EFA09B;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: #EFA09B;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: #EFA09B;
        }

        &:focus{
            outline: none;
        }

        @media #{$tablet-view}{
            
            
            font-size: 3.5em;
            border-radius: 0;
            padding-left: 5px;
            
        }

        @media #{$desktop-view}{

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                font-size: 4rem;
                color: #EFA09B;
              }
              &::-moz-placeholder { /* Firefox 19+ */
                color: #EFA09B;
              }
              &:-ms-input-placeholder { /* IE 10+ */
                color: #EFA09B;
              }
              &:-moz-placeholder { /* Firefox 18- */
                color: #EFA09B;
              }
            border: none;
            // border-bottom: 1px solid black;
            font-size: 7rem;
            border-radius: 0;
            padding-left: 5px;
            // background-color: $flatred;
            // color: #5a5a5a;
            
        }
    }

    &__i-container{
        display: inline-block;
        position: relative;
        bottom: -15px;

        // testing
        @media #{$desktop-view}{
            
        }
    }

    &__i-btn{
        // background-color: none;
        // border: none;
        cursor: pointer;
        // padding: 0;
        padding: 0;
        border: none;
        background: none;   

        & path{
            fill: #EFA09B
        }

    }

    &__i-search{
        width: 2em;
        height: 2em;
    }

    &-filter-genre{
        margin-top: 10px;
        height: 20px;
        display: flex;
        flex-flow: row wrap;
        align-self: flex-start;
        // justify-content: flex-start;

        &__tag{
            position: relative;
            border: 1px solid $baseblack;
            border-radius: 5px;
            margin-bottom: .6em;
            // margin-right: .6em;
            font-size: .8em;
            // flex: 1 0 auto;
            background-color: white;
            padding: 1em 1.8em 1em .8em;
            // height: 28px;
            // height: 30px;
            vertical-align: center;
            // padding: 5px 30px 5px 10px;

            &:hover{
                background-color: rgba(0, 0, 0, 0.2);
                color: white;
            }

            &:hover > svg{
                animation: animatedRemoveGenreTag .5s $cbc;
            }
        }

        &__x{
            position: absolute;
            right: 5px;
        }
    }

   
}


// Genres
.genres{

    position: relative;

    &-container {
        margin: 0 5%;
    }

    &-search-filter{

        @media #{$tablet-view}{
            display: flex;
            justify-content: space-between;
            height: 80px;
        }


        @media #{$desktop-view}{
            display: flex;
            justify-content: space-between;
            height: 80px;
        }

        &-genre{

            // margin-top: 10px;
            // height: 20px;
            display: flex;
            flex-flow: row wrap;
            align-self: flex-start;
            // justify-content: flex-start;
    
            &__tag{
                position: relative;
                // border: 1px solid $baseblack;
                border-radius: 5px;
                // margin-bottom: .6em;
                margin: 20px 5px 20px 0;
                // margin-right: .6em;
                font-size: .8em;
                // flex: 1 0 auto;
                background-color: white;
                padding: 1em 1.8em 1em .8em;
                // height: 28px;
                // height: 30px;
                vertical-align: center;
                // padding: 5px 30px 5px 10px;
    
                &:hover{
                    background-color: rgba(0, 0, 0, 0.2);
                    color: white;

                    
                    
                }
    
                &:hover > svg{
                    animation: animatedRemoveGenreTag .5s $cbc;
                }

                & svg{
                    pointer-events: none;
                }
            }
            &__x{
                position: absolute;
                right: 5px;
            }
        }


    }

    

    &-filter__toggle{
        display: none;
        border-radius: 10px 10px 5px 5px;
        border: 1px solid $baseblack;
        background-color: #fff;
        margin: 0 auto;

        // border: 10px solid blue;

        @media #{$tablet-view}{
            display: none;
            // position: absolute;
            // width: 60%;
            z-index: 5;
            // left: 0;
            // right: 0;
            margin: auto;
            // margin-left: auto;
            // margin-right: auto;
            
        }

        @media #{$desktop-view}{
            display: none;
            // position: absolute;
            z-index: 5;
        }
    }

    // mobile view
    &-mb{
        position: fixed;
        height: 100%;
        background-color: white;
        z-index: 10;
        width: 100%;
        left: 0;
        // min-height: 736px;
    }

    &-drop{
        position: relative;
        text-align: center;

        &__header{
            display: inline-block;
            margin: 20px 0;
            transition: font-size .2s, color .2s;
            color: #dbdbdb; // $offwhite
            cursor: pointer;
            font-weight: $f-normal;
            // margin-bottom: 20px;
            
            &:hover{
                @media #{$desktop-view}{
                    color: white;
                }

                
            }
        }

        &__header-mb{
            font-size: 1.2em;
            margin: 10px 0;
            transition: color .5s;
            color: #7a7a7a
        }
    }
    

    &-filter{
        // display: flex;
        // justify-content: space-around;
        position: relative;
        z-index: 2;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        @media #{$tablet-view}{
            
        }

       

        
        &__search-head{
            background-color: #475763;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &__search{
            border: 1px solid $baseblack;
            border-radius: 10px;
            width: 100%;
            // height: 30px;
            margin-top: 10px;
            font-size: 1.2em;
            padding-left: .8em;

            @media #{$desktop-view}{
                height: 30px;
            }
            
        }
    }

    

    &-filter-tab{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
        
        
        // align-items: flex-end;
        // position: fixed;
        // z-index: 2;
        // @media #{$tablet-view}{
        //     // flex-direction: row;
        // }

        &__genres-chosen{
            transition: height 0.66s ease-out;
        }

        &-container{

            @media #{$tablet-view}{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        &__genres-p{
            // width: 100%;
            text-align: center;
            align-self:stretch;
            font-size: .8em;
            margin-bottom: 10px;
        }
        

        &__list{
            display: flex;
            flex-flow: row wrap;
            // justify-content: space-between;
            height: 90px;
            max-height: 90px;


            @media #{$tablet-view}{
                
                // height: initial;
                
            }
    
            @media #{$desktop-view}{
                
                height: 60px;
                max-height: 60px;
            }
        }

        &__tag{
            position: relative;
            border: 1px solid $baseblack;
            border-radius: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
            flex: 1 0 auto;

            height: 28px;
            // height: 30px;
            vertical-align: center;
            padding: 5px 30px 5px 10px;

            &:hover{
                background-color: rgba(0, 0, 0, 0.2);
            }

            &:hover > svg{
                animation: animatedRemoveGenreTag .5s $cbc;
            }

            & svg{
                pointer-events: none;
            }
            
            // text-align: center;
            @media #{$tablet-view}{
                padding: 5px 30px 5px 10px;
                // height: initial;
                
            }
    
            @media #{$desktop-view}{
                padding: 5px 30px 5px 10px;
                // height: initial;
            }
        }

        &__x{
            position: absolute;
            right: 5px;

        }

        &__clear{
            border-radius: 20px;
            border: 1px solid $baseblack;
            padding: .8em 1.2em;
            background-color: white;
            text-align: center;
            width: 100%; // great for desktop
            margin-top: 10px;
            align-self: flex-end;

            @media #{$tablet-view}{
                padding: .5em 1.2em;
                width:150px;
                min-width: 150px;
                margin-top: 0;
            }
    
            @media #{$desktop-view}{
                padding: .5em 1.2em;
                min-width: 150px;
            }

        }
    }

    &-list{
        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;
        height: calc(100vh - 40px);
        overflow: auto;
        background-color: white;
        margin-bottom: 20px;
        border: 1px solid $baseblack;

        @media #{$tablet-view}{
            height: 30vh;   
        }

        @media #{$desktop-view}{
            height: 45vh;   
        }

        &__item{
            display: inline-block;
            // height: auto;
            width: 50%;
            padding: 1.5em .6em;
            line-height: 1.6em;
            border-right: 1px solid #979696;
            border-bottom: 1px solid #979696;
            background: linear-gradient(to left, white 50%, $camblue 50%);
            background-size: 200% 100%;
            background-position:right bottom;
            transition:all 0.4s ease-in-out;

            // testing
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;

            @media #{$tablet-view}{
                width: 25%;
                height: 80px;
            }

            &:hover{
                background-color: rgba(206, 206, 206, 0.8);
            }
        }
    }

    &-toggle{
        // background: linear-gradient(to right,  $camblue 50%,  yellow 50%);
        background-position: 0% 100%;
        // background-size: 200% 100%;
        // background-color: $camblue;
        color: white;
        // transition: all 1s
    }

    // &-caret-animation{
    //     // transform: rotate(100deg);
    //     animation: animatedCaretReverse .6s $cbc forwards;
    // }

    &-active-animation{
        animation: animatedCaret .6s $cbc forwards;
    }
    
    &-show{
        display: block;
        -webkit-animation: animateDrop 0.2s $cbc;
        animation: animateDrop 0.2s $cbc;
        height: 85vh;
        overflow: auto;

        @media #{$tablet-view}{
            height: initial;   
        }

        // testing
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%, -50%);
        // background-color: white;
        // padding: 1rem 1.5rem;
        // height: 80vh;
        // width: 90%;
        // border-radius: 0.5rem;
        
    }
}

.no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.no-transform{
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
}
.no-animation{
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -ms-animation: none !important;
    -o-animation: none !important;
    animation: none !important;
}


@keyframes animatedRemoveGenreTag {
    0% {
        transform: rotate(0deg) scale(1);
    }

    25%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg) scale(1.5);
    }
    100%{
        transform: rotate(0deg) scale(1);
    }
}


@keyframes animatedCaret {
    0% {
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(100deg);
    }
    50%{
        transform: rotate(80deg);
    }
    100%{
        transform: rotate(90deg);
    }
}

@keyframes animatedCaretReverse {
    0% {
        transform: rotate(90deg);
    }

    25%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@-webkit-keyframes animateDrop {
    from {
        transform: translate(0, -50px); 
        opacity:0
    } 
    to {
        transform: translate(0, 0);  
        opacity:1
    }
}

@keyframes animateDrop {
    from {
        transform: translate(0, -50px); 
        opacity:0
    } 
    to {
        transform: translate(0, 0);  
        opacity:1
    }
}



// Tracks Div

.tracks{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #F2F2F2;
}

.track {
    background-color: #fff;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 90%;
    position: relative;
    margin: 40px 0;


    @media #{$l-mobile-view} and (orientation: landscape){
        width: 45%;
    }
    
    @media #{$tablet-view}{
        width: 42%;
    }

    @media #{$desktop-view}{
        width: 30%;
    }


    &__pl-add{
        position: absolute;
        top: -20px;
        right: -10px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
        // transform: scale(1) rotate(-90deg);
        // transition: transform .3s $cbc;

        @media #{$tablet-view}{
            top: -20px;
            right: -20px;
            width: 50px;
            height: 50px;
            transform: scale(1) rotate(-90deg);
        }


        &:hover{      

            // @media #{$tablet-view}{
                transform: scale(1.2) rotate(90deg);
                transition: transform .2s $cbc;
            // }
        }

    }

    &__pl-add svg{
        height: 40px;
        width: 40px;

        @media #{$tablet-view}{
            height: 50px;
            width: 50px;
        }
    }

    &__img{
        cursor: pointer;
        width: 100%;
        height: 300px;
        border-radius: 5px 5px 0 0;
    }


    &__name{
        text-align: center;
        height: 77px;
        font-weight: f-heavy;
        overflow: hidden;
        line-height: 1.1em;
        margin-bottom: 10px;
    //     position: relative;
    //     line-height: 1em;
    //     max-height: 80px;
    //     text-align: justify;
    //     margin-right: -1em;
    //     padding-right: 1em;
      
    //   &:before {
    //     content: '...';
    //     position: absolute;
    //     right: 0;
    //     bottom: 0;
    //   }
    //   &:after {
    //     content: '';
    //     position: absolute;
    //     right: 0;
    //     width: 1em;
    //     height: 1em;
    //     margin-top: 0.2em;
    //     background: white;
    //   }
        

    }


    &__arist{
        // @include track-space;
        text-align: center;
        font-weight: $f-normal;
        margin-top: auto;
        margin-bottom: 20px;
    }

    &__progress-bar{
        height: 20px;
        // background-color: rgb(42, 128, 207);
        background-color: $flatred;
    }

    & .media-controls{
        width: 100%;
        background: linear-gradient(to left, white 50%, $color--green 50%);
        background-size: 200% 100%;
        background-position:right bottom;
        transition:all 0.2s ease-in-out;

        &-toggle{
            background-position: 0% 100%;
        }

        &-toggle .pause-ani{
            stroke: white;
        }
        &-toggle .play-ani{
            stroke: white;
        }
    }

    &__volume-container{
        display: flex;
        justify-content: flex-end;
        backface-visibility: hidden;
    }


    &__media{
        margin-bottom: 20px;
        height: 150px;
        // border: 1px solid black;
    }

    &__svg-add-btn{
            cursor: pointer;
            pointer-events: none;
    }

}




.playlist-track{
    display:flex;
    // justify-content: space-between;
    // align-items: center;
    height: 150px;
    border-bottom: 1px solid $baseblack;

    &__img{
        cursor: pointer;
        width: 150px;
        height: 150px;
        opacity: 0.4;
        filter: alpha(opacity=40); /* msie */
        background-color: #000;
    }

 

    &__name{
        @include track-space;
        font-weight: $f-heavy;
        font-size: 1rem;
        
    }


    &__arist{
        @include track-space;
        font-weight: $f-normal;
        font-size: .8rem;
    }

    &__play-btn{
        width: 30%;
        display:flex;
        justify-content: center;
        align-items: center;
        // height: 100%;
        // border-radius: 50%;
        // background-color: yellow;
    }

    &__play-svg{
        height: 80px;
        width: 70%;
    }

    &__progress-bar{
        height: 10px;
        // width: 100%;
        background-color: $flatred;
        // background-color: rgba(248, 248, 89, 0.856);
    }

    &__media{
        display: flex;
        flex-direction: column;
        
    }

    &__body-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    
    }

    &__volume-container{
        display: flex;
        align-items: center;
        align-self: center;
        margin-bottom: 10px;
        // justify-content: space-around
    }

    // &__play-container{
    //     width: 30%;
    // }

    // playlist-track__play-btn
}

// Modal

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    // padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */

    @media #{$tablet-view}{
        padding-top: 200px;
    }

    &-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        // -webkit-animation-name: animatetop;
        // -webkit-animation-duration: 0.4s;
        // animation-name: animatetop;
        // animation-duration: 0.4s
    }

    &__btn-container{
        display: flex;
        justify-content: space-between;
        align-self: center;
        // margin-top: 20px;
        width: 100%;
        // width: 60%;
        

        @media #{$tablet-view}{
            margin-top: auto;
            width: 100%;
            // margin-top: 7em;
            // width: 60%;
            // margin-top: 100px;
        }
        @media #{$desktop-view}{
            // margin-top: auto;
            // width: 100%;
            
        }
    }

    &--show{
        display: block;
    }
}


.extended-playlist{


    height: 85vh;
    display: flex;
    justify-content: center;
    width: 100%;

    @media #{$tablet-view} {
        height: 90vh
    }

    & .playlist-bar,
    & .playlist-import,
    & .playlist-create{
        border-bottom: 1px solid $baseblack;
        padding: .4em;
        display: block;
    }
    
    & .playlist-list{
        display: block;
        
        // border-bottom: 1px solid white;
    }


    & .playlist-bar{
        // border-bottom: 1px solid white;
        height: auto;
        text-align: center;
        width: 100%;
    }

    & .playlist-retract{
        flex-direction: column;


        @media #{$tablet-view} {
                flex-direction: column;
            }
    }

    & .playlist-import{
        display: block;
        text-align: center;
        // border-bottom: 1px solid white;
    }

    & .playlist-create{
        width: 100%;
        border-left: none;
        font-size: 1em;
            // border-bottom: 1px solid white;
        text-align: center;
        height: auto;

        @media #{$tablet-view} {
            // width: 100%;
            // border-left: none;
            // // border-bottom: 1px solid white;
            // text-align: center;
            // height: auto;
        }
    }

    & .playlist-list__playlist{
        margin-bottom: 0;
        // height: auto;

        &--hide{
            display: none;
        }
        &--show{
            height: auto;
        }

    }

    & .playlist-list__name{
        padding: 5px 5px 5px 20px;
        pointer-events: none;
    }

    & .track-wrapper{
        display: none;
    }

    & .track-wrapper--show{
        display: block;
        flex: 1;
    }

    & .playlist-track{
        background-color: #fff;
        color: $baseblack;
        position: relative;
    }

    & .media-controls{
        position: absolute;
        left: 34px;
        top: 20px;

        &:hover{
            transform: scale(1.2);

        }
    }

}

// Playlist Footer
.playlist{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e4e4e4;
    overflow: auto;
    color: rgb(58, 58, 58);
    border: 1px solid $baseblack;

    @media #{$tablet-view} {
        width: 70%;
        right: 20px;
        left: initial;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    @media #{$desktop-view} {
        width: 40%;
        right: 20px;
      }

    &-flex{
        display: flex;
        // justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    &-retract{
        display: flex;
        justify-content: space-between;

        // @media #{$tablet-view} {
        //     flex-direction: column;
        // }
    }

    &-import{
        display: none;

        &:hover{
            background-color: rgba(0, 0, 0, 0.3);
            color: white;
        }
    }
    &-bar{
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            background-color: rgba(0, 0, 0, 0.3);
            color: white;
        }

        &__info{
            pointer-events: none;
        }
    }

    &-active-animation{
        animation: animatedCaret .6s $cbc forwards;
    }

    &-list{
        display: none;
    }

    &-create{
        display: flex;
        // border-left: 1px solid white;
        border-left: 1px solid rgb(144, 144, 144);
        align-items: center;
        justify-content: center;
        // font-size: 1.4em;
        // height: 30px;
        width: 70px;

        &:hover{
            background-color: rgba(0, 0, 0, 0.3);
            color: white;
        }
        &__sign{
            font-size: 1.4em;
        }

    }

    &-list__playlist{
        position: relative;
        color: white;
        
        

        &:hover{
            background-color: rgba(0, 0, 0, 0.3);
            // color: rgba(90, 88, 88, 0.9);
        }
    }

    &-list__name{
        display: inline-block;
        padding: 10px;
    }

    &__show{
        display: flex;
    }

    &-list__caret-container{
        margin-left: 10px;
    }

}
    

.hide-playlist{
    display: none;
}

.remove-playlist{
    position: absolute; 
    display: inline-block;
    top: 0;
    right: 0;
    font-size: 2em;
    width: 40px;
    // content: "x";
    
    &::after{
        content:"x";
    }
    &:hover::after{
        right: 10px;
        // width: 80px;
        border: 1px solid white;
        padding: 0.1em 0.4em;
        content: "remove";
        opacity: 1;
        transition: content 2s $cbc;
         
    }
    &:hover{
        transform: translateX(-50px);
        font-size: 1.2em;
        top: 10px;
        
    }
    // }

}

// Create Playlist/ Import form

.cr-pl{
    display: flex;
    align-items: center;
    flex-direction: column;

    &__submit{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // align-items: center;
        width: 100%;
        height: 100%;



        @media #{$tablet-view}{
            width: 80%
            // align-items: center;
        }
    }

    &__name,
    &__description{
        width: 100%;
        font-size: 1.4rem;
        border: 1px solid $tan;
        border-radius: 5px;
        margin: 10px 0 10px 0;
        padding: 10px 5px;

        @media #{$tablet-view}{
            padding: .5em .2em;
        }
    }

    
   
}

.im-pl{
    display: flex;
    align-items: center;
    flex-direction: column;
    

    &__submit{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;

        @media #{$tablet-view}{
            width: 80%;
        }
    }

    &__name,
    &__description{
        width: 100%;
        font-size: 1.4rem;
        border: 1px solid $tan;
        border-radius: 5px;
        margin: 10px 0 10px 0;
        padding: 10px 5px;

        @media #{$tablet-view}{
            padding: .5em .2em;
        }
    }

    &__error{
        color: rgb(170, 53, 53);
    }
}


.cr-im-btn{
    border-radius: 5px;
    padding: 5px 10px;


    &--danger{
        background-color: rgb(197, 59, 59)
    }

    &--success{
        background-color: rgba(46, 144, 21, 0.801)
    }

}


.options{
    position: absolute;
    top: 10px;
    right: 16px;
    font-size: 1.8rem;

    @media #{$tablet-view}{
        font-size: 1.6rem;
    }

    @media #{$desktop-view}{
        font-size: 1.4rem;
    }

}

.options-dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 40px;

    &__link{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: initial;


        // @media #{$tablet-view}{
        //     font-size: initial;
        // }
    
        // @media #{$desktop-view}{
        //     font-size: initial;
        // }

        &:hover{
            background-color: rgba(39, 38, 38, 0.726)
        }
    }
}

.show__elem {
    display:block;
}


// Refactor into mixins

.tran-modal {
    @include transition-modal;

    &--genre{
        @include transition-modal;
        top: initial;
        left: initial;

        @media #{$tablet-view}{
            top: 0;
            left: 0;
        }
        @media #{$desktop-view}{
            top: 0;
            left: 0;
        }
    }

    


    &__content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        // padding: 1rem 1.5rem;
        // height: 80vh;
        width: 90%;
        border-radius: 0.5rem;

        @media #{$tablet-view}{
            width: 60%;
        }

        @media #{$desktop-view}{
            width: 40%;
        }

        &--genre{
            @media #{$tablet-view}{
                width: 80%;
            }
    
            @media #{$desktop-view}{
                width: 60%;
            }

        }
    }

    &--genre-mb{
        position: absolute;
        top: 0;
        left: 0;
        transform: initial;
        background-color: white;
        // padding: 1rem 1.5rem;
        // height: 80vh;
        width: 100%;
        border-radius: 0.5rem;
    }



    &__show-modal{
        display: block;
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
        padding: 1em 1.8em;
        z-index: 10;
    }

    &__form{
        display: none;
    }

    &__show-form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        padding: 1em 1.5em;
        height: 100%;

    }

    &__rm-playlist{
        justify-content: space-between;
        height: 200px;
    }

}

.btn{


    border-radius: 5px;
    padding: .2em .5em; 
    font-size: 1.3em;// delete this make decline btn an actual button and return false in javascript
    color: white;
    width: 45%;

    @media #{$tablet-view}{
        padding: .2em .8em;
        width: 150px;
    }

    @media #{$desktop-view}{
        // padding: 2em 1.2em;
        width: 200px;
    }


    &:hover{
        background-color: rgba(189, 189, 189, 1);
    }

    &--success{
        background-color: #78b178;
        border: 1px solid #78b178;
    }

    &--decline{
        background-color: #bc6969;
        border: 1px solid #bc6969;
    }
}

.mvs-select{
    width: 100%;
    margin: 3% 0;
    font-size: 1.2em;
    height: 40px;

    @media #{$tablet-view}{
        width: 60%;
        margin: 5% 0;
        font-size: 1.4em;
        // height: 40px;
    }
}


.tabs {
    position: relative;   
    // min-height: 200px; /* This part sucks */
    clear: both;
    margin: 25px 0;
  }
  .tab {
    // display: flex;
    float: left;
  }
  .tab > label {
    background: #eee; 
    padding: 10px; 
    border: 1px solid rgba(204, 204, 204, 1); 
    margin-left: -1px; 
    position: relative;
    left: 1px; 

    // &:hover{
    //     background-color: rgba(204, 204, 204, 0.6);
    //     color: white;
    // }
  }
  .tab [type=radio] {
    display: none;   
  }
  .content {
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc; 
    height: 60vh;
    border-radius: 5px;

    @media #{$l-mobile-view} and (orientation: landscape){
        height: 80vh;
    }

    @media #{$tablet-view}{
        height: 40vh;
        // min-height: 40vh;
    }

    @media #{$tablet-view} and (orientation: landscape){
        height: 60vh;
        // min-height: 40vh;
    }


  }
  [type=radio] ~ label{
    @include roundTopCorners(5px);
  }

  [type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
    
  }
  [type=radio]:checked ~ label ~ .content {
    z-index: 1;
  }
  

.svg-try{
    position: absolute;
    // top: 0;
    // right: 0;

    &-half{
         & path{
            stroke-dasharray: 280 280;
            stroke-dashoffset: 280;
            animation: draw 2s ease-in-out infinite;
         }
    }

    &-pause{
        top: 39px;

        & path{
            stroke-dasharray: 280 280;
            stroke-dashoffset: 280;
            animation: drawReverse 2s ease-in-out infinite;
         }
    }

    &-full{
        & path{
            stroke-dasharray: 280 280;
            stroke-dashoffset: 280;
            animation: draw 2s ease-in-out infinite;
         }

    }
}

@keyframes draw {
    from {
      stroke-dashoffset: 280;
    }
  
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes drawReverse {
    from {
      stroke-dashoffset: 0;
    }
  
    to {
      stroke-dashoffset: 280;
    }
  }



  @mixin no-dash-animation{
    -webkit-stroke-dasharray: none !important;
    -moz-stroke-dasharray: none !important;
    -o-stroke-dasharray: none !important;
    stroke-dasharray: none !important;
  }
  
  .media-controls{
      
    cursor: pointer;
    // position: absolute;
    // left: 8px;
  
    &__play{
      stroke-dasharray: 280 280;
      animation: drawPlayReverse .2s $cbc forwards;
      pointer-events: none;
    
    }
    
    &__pause{
      stroke-dasharray: 40 280;
      animation: drawPauseReverse .2s $cbc forwards;
      pointer-events: none;
    }
  }
  
  @keyframes drawPlay {
      0% {
        stroke-dashoffset: 0;
      }
    
      100% {
        stroke-dashoffset: 240;
      }
    }
  
  
  @keyframes drawPause {
      0% {
        stroke-dashoffset: -200;
  
          }
      75%{
            stroke-dashoffset: 0;
      }
      90%{
        transform: translateY(0px);
      }
  
      100% {
        
        transform: translateY(6.5px);
   
      }
    }
  
  .play-ani{
    animation: drawPlay 0.2s $cbc forwards;
  }
  
  .pause-ani{
    animation: drawPause 0.3s $cbc forwards;
  }
  
  @keyframes drawPauseReverse {
      0% {
        stroke-dashoffset: 0;
  
          }
      100% {
        stroke-dashoffset: -100;
      }
    }
  
  @keyframes drawPlayReverse {
      0% {
        stroke-dashoffset: 242;
          }
      100% {
        stroke-dashoffset: 100;
      }
    }
  
  .inactive-dash{
    @include no-dash-animation;
    
    &-pause{
        
      display: none;
    }
  }
  

.tab-content--error{
    animation: tabError 1s $cbc forwards;
}

.tab-field-container{
    // height: 100%;

    @media #{$tablet-view}{
        // height: 250px;
    }

    // @media #{$desktop-view}{
    //     height: 250px;
    // }
}

@keyframes tabError{
    0%{
        transform: translate(-52%, -50%);
    }
    25%{
        transform: translate(-48%, -50%);
    }
    50%{
        transform: translate(-52%, -50%);
    }
    100%{
        transform: translate(-50%, -50%);
    }
}



.song-action{
    display: flex;
    border: 1px solid black;
    margin: 5% 0;
    width: 100%;

    @media #{$tablet-view}{
        width: 80%;
    }

    &__img{
        width: 100px;
        height: 100px;
    }
    &__song-info{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        flex-grow: 2;
    }
    &__song-name{   
        color: black;
        text-align: center;
        width: 80%;
    }
    &__song-artist{
        color: black;
        text-align: center;
        width: 80%;
    }
}


.no-result{
    font-weight: 300;
    margin:0 auto;
    text-align: center;
    width: 50%;
    height: 70vh;
}


.confirm-action{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40%;
    width: 80%;
    // opacity: 1;
    // transition: opacity .5s linear;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid $baseblack;
    background-color: white;
        // padding: 1rem 1.5rem;
        // height: 80vh;
    
    border-radius: 0.5rem;

    @media #{$tablet-view}{
        width: 50%;
        height: 40%;
    }

    @media #{$desktop-view}{
        width: 40%;
        height: 40%;
    }
    

    &--fade{
        // opacity: 0;
        animation: fadeOut 2s forwards;
        
    }
    

    &-checkmark{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: block;
        stroke-width: 2;
        stroke: $color--green;
        stroke-miterlimit: 10;
        // margin: 10% auto;
        // box-shadow: inset 0px 0px 0px $color--green;
        
        
        &__check{
            transform-origin: 50% 50%;
            // stroke-dasharray: 48;
            // stroke-dashoffset: 48;
            // animation: stroke .1s $cbc .6s forwards;
            
        }
          
         
    }
    &__info{
        text-align: center;
    }
}

  
 



@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}



@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}





