@import "_reset.scss";

@import "_vars.scss";
@import "_base.scss";
@import "_mixins.scss";



@mixin roundTopCorners($int){
    border-top-left-radius: $int;
    border-top-right-radius: $int;
}

.content-wrapper{
    display: flex; 
    flex-direction: column;
    // background-color: #ED6A5A;
}

.tab-content-container{
    margin: 0 auto;
    width: 70%;
}

.container{
    width: 80%;
    margin: 0 auto;
    // background-color: #ED6A5A;
}

// Header
// Logo
.logo-container{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid black;
    z-index: 10;
    background-color: rgb(245, 245, 245);

    &__logo{
        text-align: center;
        color: #943737
    }

    @media #{$tablet-view}{
        position: static;
    }

    @media #{$tablet-view}{
        position: static;
    }
}

.hide-fixed-container{
    display: none;
}

// Solo classes
.fa-caret-right{
    animation: animatedCaretReverse .6s $cbc forwards;
}

.fa-times{
    stroke-width: 1px;
}

.svg-inline--fa{
    vertical-align: -.25em;
}

.svg-inline--fa.fa-w-16{
    width: 2em;
}

.close-modal-btn{
    position: absolute;
    top: -20px;
    right: 0;
    // float: right;
    // width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
    padding: 0.5em 2em;

    &:hover{
        background-color: darkgray;
    }

    &--tran{
        top: -50px;
    }
}


// Mood Input Fields
.mood{
    display: flex;
    align-items: center;
    flex-direction: column;
    

    &__input-field{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__header{
        margin: 1.2em .8em;
        
    }

    &__form{
        width: 100%;
        
    }

    &__val{
        
        
        border: none;
        border-bottom: 1px solid black;
        // margin-bottom: 20px;
        padding-bottom: 5px;
        width: 100%;
        font-size: 2rem;

        &:focus{
            outline: none;
        }
    }

    &__container{
        display: inline-block;
        position: relative;
        // top: 0;
        padding-top:10px;
        right: 30px;
        // height: 100%;
    }

    &__btn{
        background-color: none;
        border: none;
        cursor: pointer;
        padding: 0;

    }

    &__search{
        width: 2em;
        height: 2em;
    }

    &-filter-genre{
        margin-top: 10px;
        height: 20px;
        display: flex;
        flex-flow: row wrap;
        align-self: flex-start;
        // justify-content: flex-start;

        &__tag{
            border: 1px solid $baseblack;
            border-radius: 5px;
            // margin-bottom: 5px;
            margin-right: 5px;
            // height: 30px;
            // vertical-align: center;
            // background-color: rgba(197, 197, 197, 0.5);
            // padding: 5px 10px 5px 10px;
            padding: 0.2em 0.7em;
            font-size: .8em;
        }
    }

   
}


// Genres
.genres{

    position: relative;

    &-container {
        margin: 0 5%;
    }

    &-filter__toggle{
        display: none;
        border-radius: 10px 10px 5px 5px;
        border: 1px solid $baseblack;
        background-color: #fff;
        margin: 0 auto;

        // border: 10px solid blue;

        @media #{$tablet-view}{
            display: none;
            position: absolute;
            width: 60%;
            z-index: 5;
            left: 0;
            right: 0;
            margin: auto;
            // margin-left: auto;
            // margin-right: auto;
            
        }

        @media #{$desktop-view}{
            display: none;
            position: absolute;
            z-index: 5;
        }
    }

    // mobile view
    &-mb{
        position: absolute;
        height: 100%;
        background-color: white;
        z-index: 10;
        width: 100%;
        // min-height: 736px;
    }

    &-drop{
        position: relative;
        text-align: center;

        &__header{
            display: inline-block;
            margin: 20px 0;
            transition: font-size .2s;
            // margin-bottom: 20px;
        }

        &__header-mb{
            font-size: 1.2em;
            margin: 10px 0;
            transition: font-size .5s;
        }
    }
    

    &-filter{
        // display: flex;
        // justify-content: space-around;
        position: relative;
        z-index: 2;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        @media #{$tablet-view}{
            
        }

       

        
        &__search-head{
            background-color: #475763;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        &__search{
            border: 1px solid $baseblack;
            border-radius: 10px;
            width: 100%;
            // height: 30px;
            margin-top: 10px;
            font-size: 1.2em;
            padding-left: .8em;
            
        }
    }

    

    &-filter-tab{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
        
        
        // align-items: flex-end;
        // position: fixed;
        // z-index: 2;
        // @media #{$tablet-view}{
        //     // flex-direction: row;
        // }

        &-container{

            @media #{$tablet-view}{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        &__genres-p{
            // width: 100%;
            text-align: center;
            align-self:stretch;
            font-size: .8em;
            margin-bottom: 10px;
        }
        

        &__list{
            display: flex;
            flex-flow: row wrap;
            // justify-content: space-between;
        }

        &__tag{
            position: relative;
            border: 1px solid $baseblack;
            border-radius: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
            // height: 30px;
            vertical-align: center;
            padding: 5px 30px 5px 10px;

            &:hover{
                background-color: rgba(0, 0, 0, 0.2);
            }

            &:hover > svg{
                animation: animatedRemoveGenreTag .5s $cbc;
            }
            
            // text-align: center;
            @media #{$tablet-view}{
                padding: 5px 30px 5px 10px;
                
            }
    
            @media #{$desktop-view}{
                padding: 5px 30px 5px 10px;
            }
        }

        &__x{
            position: absolute;
            right: 5px;

        }

        &__clear{
            border-radius: 20px;
            border: 1px solid $baseblack;
            padding: .8em 1.2em;
            background-color: white;
            text-align: center;
            width: 100%; // great for desktop
            margin-top: 10px;
            align-self: flex-end;

            @media #{$tablet-view}{
                padding: .5em 1.2em;
                width:150px;
                min-width: 150px;
                margin-top: 0;
            }
    
            @media #{$desktop-view}{
                padding: .5em 1.2em;
                min-width: 150px;
            }

        }
    }

    &-list{
        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;
        height: 100vh;
        overflow: auto;
        background-color: white;
        margin-bottom: 20px;
        border: 1px solid $baseblack;

        @media #{$tablet-view}{
            height: 35vh;   
        }

        @media #{$desktop-view}{
            height: 35vh;   
        }

        &__item{
            display: inline-block;
            height: 80px;
            width: 50%;
            padding: 1.5em .6em;
            line-height: 1.6em;
            border-right: 1px solid #979696;
            border-bottom: 1px solid #979696;
            background: linear-gradient(to left, white 50%, $camblue 50%);
            background-size: 200% 100%;
            background-position:right bottom;
            transition:all 0.4s ease-in-out;

            @media #{$tablet-view}{
                width: 25%;
            }

            &:hover{
                background-color: rgba(206, 206, 206, 0.8);
            }
        }
    }

    &-toggle{
        // background: linear-gradient(to right,  $camblue 50%,  yellow 50%);
        background-position: 0% 100%;
        // background-size: 200% 100%;
        // background-color: $camblue;
        color: white;
        // transition: all 1s
    }

    // &-caret-animation{
    //     // transform: rotate(100deg);
    //     animation: animatedCaretReverse .6s $cbc forwards;
    // }

    &-active-animation{
        animation: animatedCaret .6s $cbc forwards;
    }
    
    &-show{
        display: block;
        -webkit-animation: animateDrop 0.2s $cbc;
        animation: animateDrop 0.2s $cbc;
        
    }
}

.no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.no-transform{
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
}



@keyframes animatedRemoveGenreTag {
    0% {
        transform: rotate(0deg) scale(1);
    }

    25%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(-10deg) scale(1.5);
    }
    100%{
        transform: rotate(0deg) scale(1);
    }
}


@keyframes animatedCaret {
    0% {
        transform: rotate(0deg);
    }

    25%{
        transform: rotate(100deg);
    }
    50%{
        transform: rotate(80deg);
    }
    100%{
        transform: rotate(90deg);
    }
}

@keyframes animatedCaretReverse {
    0% {
        transform: rotate(90deg);
    }

    25%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@-webkit-keyframes animateDrop {
    from {
        transform: translate(0, -50px); 
        opacity:0
    } 
    to {
        transform: translate(0, 0);  
        opacity:1
    }
}

@keyframes animateDrop {
    from {
        transform: translate(0, -50px); 
        opacity:0
    } 
    to {
        transform: translate(0, 0);  
        opacity:1
    }
}


// Tracks Div

.tracks{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
}

.track {
    background-color: #fff;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    margin: 20px 20px;
    
    @media #{$tablet-view}{
        width: 40%;
    }

    @media #{$desktop-view}{
        width: 25%;
    }


    &__pl-add{
        position: absolute;
        top: -20px;
        right: -20px;
        background-color: $richblue;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    &__img{
        width: 100%;
        height: 300px;
        border-radius: 5px 5px 0 0;
    }


    &__name{
        @include track-space;
        font-weight: 700;
    }

    &__album{
        @include track-space;
        font-weight: 300;
    }

    &__arist{
        @include track-space;
        font-weight: 400;
    }

    &__progress-bar{
        height: 10px;
        // width: 100%; 
        background-color: yellow;
    }

    & .media-controls{
        width: 100%;
    }

    &__volume-container{
        display: flex;
        justify-content: flex-end;
    }

    &__volume-slider{
        
        // align-self: flex-end;

        // &::before{
        //     content: 'icon here';
        //     height: 20px;
        //     margin-right: 40px;
        // }
    }

}




.playlist-track{
    display:flex;
    // justify-content: space-between;
    // align-items: center;
    height: 100px;
    border-bottom: 1px solid $baseblack;

    &__img{
        width: 100px;
        height: 100px;
    }

    &__song-info-container{
        width: 50%;
    }

    &__name{
        @include track-space;
        font-weight: 700;
        font-size: 1rem
    }

    &__album{
        @include track-space;
        font-weight: 300;
        font-size: .6rem;
    }

    &__arist{
        @include track-space;
        font-weight: 400;
        font-size: .8rem;
    }

    &__play-btn{
        width: 30%;
        display:flex;
        justify-content: center;
        align-items: center;
        // height: 100%;
        // border-radius: 50%;
        // background-color: yellow;
    }

    &__play-svg{
        height: 80px;
        width: 70%;
    }

    &__progress-bar{
        height: 10px;
        // width: 100%;
        background-color: yellow;
    }

    &__media{
        display: flex;
        flex-direction: column;
        
    }

    // &__play-container{
    //     width: 30%;
    // }

    // playlist-track__play-btn
}

// Modal

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */

    &-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        // -webkit-animation-name: animatetop;
        // -webkit-animation-duration: 0.4s;
        // animation-name: animatetop;
        // animation-duration: 0.4s
    }

    &__btn-container{
        display: flex;
        justify-content: space-around;
        width: 60%;
        margin-top: 7em;
    }

    &--show{
        display: block;
    }
}


.extended-playlist{
    height: 90vh;
    display: flex;
    justify-content: center;
    width: 100%;

    & .playlist-bar,
    & .playlist-import,
    & .playlist-create{
        border-bottom: 1px solid white;
        padding: .4em;
    }
    
    & .playlist-list{
        display: block;
        
        // border-bottom: 1px solid white;
    }


    & .playlist-bar{
        // border-bottom: 1px solid white;
        height: auto;
        text-align: center;
        width: 100%;
    }

    & .playlist-retract{
        @media #{$tablet-view} {
                flex-direction: column;
            }
    }

    & .playlist-import{
        display: block;
        text-align: center;
        // border-bottom: 1px solid white;
    }

    & .playlist-create{
        // display: inline-block;
        // border-left: 1px solid $tan;
        // height: 30px;
        // width: 50px;

        @media #{$tablet-view} {
            width: 100%;
            border-left: none;
            // border-bottom: 1px solid white;
            text-align: center;
            height: auto;
        }
    }

    & .playlist-list__playlist{
        margin-bottom: 0;
        // height: auto;

        &--hide{
            display: none;
        }
        &--show{
            height: auto;
        }
    }

    & .playlist-list__name{
        padding: 5px;
    }

    & .track-wrapper{
        display: none;
    }

    & .track-wrapper--show{
        display: block;
        flex: 1;
    }

    & .playlist-track{
        background-color: #fff;
        color: $baseblack;
        position: relative;
    }

    

}

// Playlist Footer
.playlist{
    display: none;
    position: fixed;
    bottom: 0;
    // right: 20px;
    width: 100%;
    // background-color: $richblue;
    background-color: #325386;
    overflow: auto;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    @media #{$tablet-view} {
        width: 40%;
        right: 20px;
    }

    @media #{$desktop-view} {
        width: 40%;
        right: 20px;
      }

    &-flex{
        display: flex;
        // justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    &-retract{
        display: flex;
        justify-content: space-between;

        // @media #{$tablet-view} {
        //     flex-direction: column;
        // }
    }

    &-import{
        display: none;
    }
    &-bar{
        // display: inline-block;
        width: 250px;
        height: 30px;
        
    }

    &-list{
        display: none;
    }

    &-create{
        // display: inline-block;
        border-left: 1px solid $tan;
        height: 30px;
        width: 50px;

        // @media #{$tablet-view} {
        //     width: 100%;
        //     border-left: none;
        //     border-bottom: 1px solid white;
        // }
    }

    &-list__playlist{
        position: relative;
        
        
        // width: 100%;
        color: white;



        &:hover{
            background-color: rgba(0, 0, 0, 0.2);
        }
    }

    &-list__name{
        display: inline-block;
        padding: 10px;
    }

    &__show{
        display: flex;
    }

}
    

.hide-playlist{
    display: none;
}

.remove-playlist{
    position: absolute; 
    display: inline-block;
    top: 0;
    right: 0;
    width: 80px;
    // content: "x";
    
    &::after{
        content:"x";
    }
    &:hover::after{
        right: 10px;
        // width: 80px;
        border: 2px solid yellow;
        content: "remove";
    }
    // }

}

// Create Playlist/ Import form

.cr-pl{
    display: flex;
    align-items: center;
    flex-direction: column;

    &__submit{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    &__name,
    &__description{
        width: 60%;
        font-size: 1.2rem;
        border: 1px solid $tan;
        border-radius: 5px;
        margin: 20px 0;
    }

    
   
}

.im-pl{
    display: flex;
    align-items: center;
    flex-direction: column;

    &__submit{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    &__name,
    &__description{
        width: 60%;
        font-size: 1.2rem;
        border: 1px solid $tan;
        border-radius: 5px;
        margin: 20px 0;
    }

    &__error{
        color: rgb(170, 53, 53);
    }
}


.cr-im-btn{
    border-radius: 5px;
    padding: 5px 10px;


    &--danger{
        background-color: rgb(197, 59, 59)
    }

    &--success{
        background-color: rgba(46, 144, 21, 0.801)
    }

}

.track-wrapper{
    // height: 300px;
    overflow: auto;
}

.options{
    position: absolute;
    top: 0px;
    right: 10px;

}

.options-dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 40px;

    &__link{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;

        &:hover{
            background-color: rgba(39, 38, 38, 0.726)
        }
    }
}

.show__options {display:block;}


// Refactor into mixins

.tran-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;


    &__content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        // padding: 1rem 1.5rem;
        height: 60vh;
        width: 60%;
        border-radius: 0.5rem;
    }


    &__show-modal{
        display: block;
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
        padding: 1em 1.8em;
    }

    &__form{
        display: none;
    }

    &__show-form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        padding: 1em 1.5em;
        height: 100%;

    }

}

.btn{
    border-radius: 5px;
    padding: .5em 1.4em;
    font-size: 1.3em;// delete this make decline btn an actual button and return false in javascript
    color: white;


    &:hover{
        background-color: rgba(0, 0, 0, 0.2);
    }

    &--success{
        background-color: green;
    }

    &--decline{
        background-color: red;
    }
}

.mvs-select{
    width: 60%;
    margin-top: 40px;
    font-size: 1.4em;
    height: 40px;
}


.tabs {
    position: relative;   
    // min-height: 200px; /* This part sucks */
    clear: both;
    margin: 25px 0;
  }
  .tab {
    // display: flex;
    float: left;
  }
  .tab > label {
    background: #eee; 
    padding: 10px; 
    border: 1px solid #ccc; 
    margin-left: -1px; 
    position: relative;
    left: 1px; 
  }
  .tab [type=radio] {
    display: none;   
  }
  .content {
    position: absolute;
    top: 28px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 20px;
    border: 1px solid #ccc; 
    height: 50vh;
    border-radius: 5px;
  }
  [type=radio] ~ label{
    @include roundTopCorners(5px);
  }

  [type=radio]:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
    
  }
  [type=radio]:checked ~ label ~ .content {
    z-index: 1;
  }
  

.svg-try{
    position: absolute;
    // top: 0;
    // right: 0;

    &-half{
         & path{
            stroke-dasharray: 280 280;
            stroke-dashoffset: 280;
            animation: draw 2s ease-in-out infinite;
         }
    }

    &-pause{
        top: 39px;

        & path{
            stroke-dasharray: 280 280;
            stroke-dashoffset: 280;
            animation: drawReverse 2s ease-in-out infinite;
         }
    }

    &-full{
        & path{
            stroke-dasharray: 280 280;
            stroke-dashoffset: 280;
            animation: draw 2s ease-in-out infinite;
         }

    }
}

@keyframes draw {
    from {
      stroke-dashoffset: 280;
    }
  
    to {
      stroke-dashoffset: 0;
    }
  }

  @keyframes drawReverse {
    from {
      stroke-dashoffset: 0;
    }
  
    to {
      stroke-dashoffset: 280;
    }
  }



  @mixin no-dash-animation{
    -webkit-stroke-dasharray: none !important;
    -moz-stroke-dasharray: none !important;
    -o-stroke-dasharray: none !important;
    stroke-dasharray: none !important;
  }
  
  .media-controls{
  
    &__play{
      stroke-dasharray: 280 280;
      animation: drawPlayReverse .2s $cbc forwards;
    
    }
    
    &__pause{
      stroke-dasharray: 40 280;
      animation: drawPauseReverse .2s $cbc forwards;
    }
  }
  
  @keyframes drawPlay {
      0% {
        stroke-dashoffset: 0;
      }
    
      100% {
        stroke-dashoffset: 240;
      }
    }
  
  
  @keyframes drawPause {
      0% {
        stroke-dashoffset: -200;
  
          }
      75%{
            stroke-dashoffset: 0;
      }
      90%{
        transform: translateY(0px);
      }
  
      100% {
        
        transform: translateY(6.5px);
   
      }
    }
  
  .play-ani{
    animation: drawPlay 0.2s $cbc forwards;
  }
  
  .pause-ani{
    animation: drawPause 0.3s $cbc forwards;
  }
  
  @keyframes drawPauseReverse {
      0% {
        stroke-dashoffset: 0;
  
          }
      100% {
        stroke-dashoffset: -100;
      }
    }
  
  @keyframes drawPlayReverse {
      0% {
        stroke-dashoffset: 242;
          }
      100% {
        stroke-dashoffset: 100;
      }
    }
  
  .inactive-dash{
    @include no-dash-animation;
    
    &-pause{
      display: none;
    }
  }
  

.tab-content--error{
    animation: tabError 1s $cbc forwards;
}

@keyframes tabError{
    0%{
        transform: translate(5px);
    }
    25%{
        transform: translate(-5px);
    }
    50%{
        transform: translate(5px);
    }
    100%{
        transform: translate(0px);
    }
}



.song-action{
    display: flex;
    border: 1px solid black;

    &__img{
        width: 100px;
        height: 100px;
    }
    &__song-info{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__song-name{   
        color: black;
    }
    &__song-artist{
        color: black;
    }
}