/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:before,
*:after {
  -webkit-border-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

h1 {
  font-size: 2.4rem; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.8rem; }

h5 {
  font-size: 1.6rem; }

h6 {
  font-size: 1.4rem; }

p {
  font-size: 1rem; }

a {
  text-decoration: none; }

body {
  color: #5a5a5a;
  font-family: 'Avenir', 'Open Sans', sans-serif; }

.no-scroll {
  overflow: hidden; }

.wrap {
  background-color: #E47A67;
  transition: background-color 0.5s ease; }

.content-wrapper {
  display: flex;
  flex-direction: column;
  width: 97%;
  margin: 0 auto; }

.tab-content-container {
  margin: 0 auto;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .tab-content-container {
      width: 70%; } }

.container {
  width: 80%;
  margin: 0 auto; }

.logo-container {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid black;
  z-index: 10;
  background-color: whitesmoke; }
  @media screen and (min-width: 768px) {
    .logo-container {
      position: static; } }
  @media screen and (min-width: 1024px) {
    .logo-container {
      position: static; } }

.logo {
  width: 20%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding: 5px 0;
  transition: width 1s; }

.logo--size {
  width: 10%; }

.hide-fixed-container {
  display: none; }

.fa-caret-right,
.fa-chevron-right {
  pointer-events: none;
  animation: animatedCaretReverse 0.6s cubic-bezier(0.3, 0.13, 0.6, 0.89) forwards; }

.fa-chevron-right {
  width: .4em !important; }

.fa-times {
  stroke-width: 1px; }

.svg-inline--fa {
  vertical-align: -.25em; }

.svg-inline--fa.fa-w-16 {
  width: 2em; }
  @media screen and (min-width: 1024px) {
    .svg-inline--fa.fa-w-16 {
      width: 10em;
      height: 10em; } }

.close-modal-btn {
  position: absolute;
  top: -80px;
  right: 10px;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
  padding: 0.5em 1em; }
  @media screen and (min-width: 375px) {
    .close-modal-btn {
      top: -20px;
      right: 10px; } }
  @media screen and (min-width: 768px) {
    .close-modal-btn {
      top: -20px;
      right: 0;
      padding: 0.5em 2em; } }
  .close-modal-btn:hover {
    background-color: darkgray;
    color: white; }
  .close-modal-btn--tran {
    top: -50px; }

.mood {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .mood__input-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black; }
  .mood__header {
    font-size: 3rem;
    align-self: flex-start;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    overflow-wrap: break-word;
    color: white; }
    @media screen and (min-width: 1024px) {
      .mood__header {
        font-size: 6rem; } }
  .mood__form {
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .mood__form {
        margin-top: 100px; } }
  .mood__val {
    border: none;
    border-radius: 10px;
    padding: 10px 0 10px 5px;
    width: 100%;
    font-size: 1.2rem;
    background-color: #E47A67;
    color: white;
    font-size: 1.6em; }
    .mood__val::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #EFA09B; }
    .mood__val::-moz-placeholder {
      /* Firefox 19+ */
      color: #EFA09B; }
    .mood__val:-ms-input-placeholder {
      /* IE 10+ */
      color: #EFA09B; }
    .mood__val:-moz-placeholder {
      /* Firefox 18- */
      color: #EFA09B; }
    .mood__val:focus {
      outline: none; }
    @media screen and (min-width: 768px) {
      .mood__val {
        font-size: 2em;
        border-radius: 0;
        padding-left: 5px; } }
    @media screen and (min-width: 1024px) {
      .mood__val {
        border: none;
        font-size: 7rem;
        border-radius: 0;
        padding-left: 5px; }
        .mood__val::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          font-size: 4rem;
          color: #EFA09B; }
        .mood__val::-moz-placeholder {
          /* Firefox 19+ */
          color: #EFA09B; }
        .mood__val:-ms-input-placeholder {
          /* IE 10+ */
          color: #EFA09B; }
        .mood__val:-moz-placeholder {
          /* Firefox 18- */
          color: #EFA09B; } }
  .mood__i-container {
    display: inline-block;
    position: relative;
    bottom: -20px; }
  .mood__i-btn {
    cursor: pointer;
    padding: 0;
    border: none;
    background: none; }
    .mood__i-btn path {
      fill: #EFA09B; }
  .mood__i-search {
    width: 2em;
    height: 2em; }
  .mood-filter-genre {
    margin-top: 10px;
    height: 20px;
    display: flex;
    flex-flow: row wrap;
    align-self: flex-start; }
    .mood-filter-genre__tag {
      position: relative;
      border: 1px solid #979797;
      border-radius: 5px;
      margin-bottom: .6em;
      font-size: .8em;
      background-color: white;
      padding: 1em 1.8em 1em .8em;
      vertical-align: center; }
      .mood-filter-genre__tag:hover {
        background-color: rgba(0, 0, 0, 0.2);
        color: white; }
      .mood-filter-genre__tag:hover > svg {
        animation: animatedRemoveGenreTag 0.5s cubic-bezier(0.3, 0.13, 0.6, 0.89); }
    .mood-filter-genre__x {
      position: absolute;
      right: 5px; }

.genres {
  position: relative; }
  .genres-container {
    margin: 0 5%; }
  @media screen and (min-width: 1024px) {
    .genres-search-filter {
      display: flex;
      justify-content: space-between;
      height: 80px; } }
  .genres-search-filter-genre {
    display: flex;
    flex-flow: row wrap;
    align-self: flex-start; }
    .genres-search-filter-genre__tag {
      position: relative;
      border-radius: 5px;
      margin: 20px 5px 20px 0;
      font-size: .8em;
      background-color: white;
      padding: 1em 1.8em 1em .8em;
      vertical-align: center; }
      .genres-search-filter-genre__tag:hover {
        background-color: rgba(0, 0, 0, 0.2);
        color: white; }
      .genres-search-filter-genre__tag:hover > svg {
        animation: animatedRemoveGenreTag 0.5s cubic-bezier(0.3, 0.13, 0.6, 0.89); }
      .genres-search-filter-genre__tag svg {
        pointer-events: none; }
    .genres-search-filter-genre__x {
      position: absolute;
      right: 5px; }
  .genres-filter__toggle {
    display: none;
    border-radius: 10px 10px 5px 5px;
    border: 1px solid #979797;
    background-color: #fff;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .genres-filter__toggle {
        display: none;
        z-index: 5;
        margin: auto; } }
    @media screen and (min-width: 1024px) {
      .genres-filter__toggle {
        display: none;
        z-index: 5; } }
  .genres-mb {
    position: fixed;
    height: 100%;
    background-color: white;
    z-index: 10;
    width: 100%;
    left: 0; }
  .genres-drop {
    position: relative;
    text-align: center; }
    .genres-drop__header {
      display: inline-block;
      margin: 20px 0;
      transition: font-size .2s, color .2s;
      cursor: pointer; }
      @media screen and (min-width: 1024px) {
        .genres-drop__header:hover {
          color: white; } }
    .genres-drop__header-mb {
      font-size: 1.2em;
      margin: 10px 0;
      transition: font-size .5s; }
  .genres-filter {
    position: relative;
    z-index: 2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }
    .genres-filter__search-head {
      background-color: #475763;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .genres-filter__search {
      border: 1px solid #979797;
      border-radius: 10px;
      width: 100%;
      margin-top: 10px;
      font-size: 1.2em;
      padding-left: .8em; }
  .genres-filter-tab {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px; }
    .genres-filter-tab__genres-chosen {
      transition: height 0.66s ease-out; }
    @media screen and (min-width: 768px) {
      .genres-filter-tab-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between; } }
    .genres-filter-tab__genres-p {
      text-align: center;
      align-self: stretch;
      font-size: .8em;
      margin-bottom: 10px; }
    .genres-filter-tab__list {
      display: flex;
      flex-flow: row wrap;
      height: 65px;
      max-height: 65px; }
    .genres-filter-tab__tag {
      position: relative;
      border: 1px solid #979797;
      border-radius: 5px;
      margin-bottom: 5px;
      margin-right: 5px;
      flex: 1 0 auto;
      height: 28px;
      vertical-align: center;
      padding: 5px 30px 5px 10px; }
      .genres-filter-tab__tag:hover {
        background-color: rgba(0, 0, 0, 0.2); }
      .genres-filter-tab__tag:hover > svg {
        animation: animatedRemoveGenreTag 0.5s cubic-bezier(0.3, 0.13, 0.6, 0.89); }
      .genres-filter-tab__tag svg {
        pointer-events: none; }
      @media screen and (min-width: 768px) {
        .genres-filter-tab__tag {
          padding: 5px 30px 5px 10px; } }
      @media screen and (min-width: 1024px) {
        .genres-filter-tab__tag {
          padding: 5px 30px 5px 10px; } }
    .genres-filter-tab__x {
      position: absolute;
      right: 5px; }
    .genres-filter-tab__clear {
      border-radius: 20px;
      border: 1px solid #979797;
      padding: .8em 1.2em;
      background-color: white;
      text-align: center;
      width: 100%;
      margin-top: 10px;
      align-self: flex-end; }
      @media screen and (min-width: 768px) {
        .genres-filter-tab__clear {
          padding: .5em 1.2em;
          width: 150px;
          min-width: 150px;
          margin-top: 0; } }
      @media screen and (min-width: 1024px) {
        .genres-filter-tab__clear {
          padding: .5em 1.2em;
          min-width: 150px; } }
  .genres-list {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 40px);
    overflow: auto;
    background-color: white;
    margin-bottom: 20px;
    border: 1px solid #979797; }
    @media screen and (min-width: 768px) {
      .genres-list {
        height: 45vh; } }
    @media screen and (min-width: 1024px) {
      .genres-list {
        height: 45vh; } }
    .genres-list__item {
      display: inline-block;
      width: 50%;
      padding: 1.5em .6em;
      line-height: 1.6em;
      border-right: 1px solid #979696;
      border-bottom: 1px solid #979696;
      background: linear-gradient(to left, white 50%, #9BC1BC 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 0.4s ease-in-out;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center; }
      @media screen and (min-width: 768px) {
        .genres-list__item {
          width: 25%;
          height: 80px; } }
      .genres-list__item:hover {
        background-color: rgba(206, 206, 206, 0.8); }
  .genres-toggle {
    background-position: 0% 100%;
    color: white; }
  .genres-active-animation {
    animation: animatedCaret 0.6s cubic-bezier(0.3, 0.13, 0.6, 0.89) forwards; }
  .genres-show {
    display: block;
    -webkit-animation: animateDrop 0.2s cubic-bezier(0.3, 0.13, 0.6, 0.89);
    animation: animateDrop 0.2s cubic-bezier(0.3, 0.13, 0.6, 0.89); }

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

.no-transform {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important; }

.no-animation {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -ms-animation: none !important;
  -o-animation: none !important;
  animation: none !important; }

@keyframes animatedRemoveGenreTag {
  0% {
    transform: rotate(0deg) scale(1); }
  25% {
    transform: rotate(10deg); }
  50% {
    transform: rotate(-10deg) scale(1.5); }
  100% {
    transform: rotate(0deg) scale(1); } }
@keyframes animatedCaret {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(100deg); }
  50% {
    transform: rotate(80deg); }
  100% {
    transform: rotate(90deg); } }
@keyframes animatedCaretReverse {
  0% {
    transform: rotate(90deg); }
  25% {
    transform: rotate(-10deg); }
  50% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(0deg); } }
@-webkit-keyframes animateDrop {
  from {
    transform: translate(0, -50px);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }
@keyframes animateDrop {
  from {
    transform: translate(0, -50px);
    opacity: 0; }
  to {
    transform: translate(0, 0);
    opacity: 1; } }
.tracks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #F2F2F2; }

.track {
  background-color: #fff;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 90%;
  position: relative;
  margin: 40px 0; }
  @media screen and (min-width: 768px) {
    .track {
      width: 42%; } }
  @media screen and (min-width: 1024px) {
    .track {
      width: 30%; } }
  .track__pl-add {
    position: absolute;
    top: -20px;
    right: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer; }
    @media screen and (min-width: 768px) {
      .track__pl-add {
        top: -20px;
        right: -20px;
        width: 50px;
        height: 50px;
        transform: scale(1) rotate(-90deg); } }
    .track__pl-add:hover {
      transform: scale(1.2) rotate(90deg);
      transition: transform 0.2s cubic-bezier(0.3, 0.13, 0.6, 0.89); }
  .track__pl-add svg {
    height: 40px;
    width: 40px; }
    @media screen and (min-width: 768px) {
      .track__pl-add svg {
        height: 50px;
        width: 50px; } }
  .track__img {
    cursor: pointer;
    width: 100%;
    height: 300px;
    border-radius: 5px 5px 0 0; }
  .track__name {
    text-align: center;
    height: 77px;
    font-weight: 700;
    overflow: hidden;
    line-height: 1.1em;
    margin-bottom: 10px; }
  .track__album {
    margin-bottom: 0.4em;
    text-align: center;
    font-weight: 300; }
  .track__arist {
    text-align: center;
    font-weight: 400;
    margin-top: auto;
    margin-bottom: 20px; }
  .track__progress-bar {
    height: 20px;
    background-color: #E47A67; }
  .track .media-controls {
    width: 100%;
    background: linear-gradient(to left, white 50%, #7ac142 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.2s ease-in-out; }
    .track .media-controls-toggle {
      background-position: 0% 100%; }
    .track .media-controls-toggle .pause-ani {
      stroke: white; }
    .track .media-controls-toggle .play-ani {
      stroke: white; }
  .track__volume-container {
    display: flex;
    justify-content: flex-end; }
  .track__media {
    margin-bottom: 20px;
    height: 150px; }
  .track__svg-add-btn {
    cursor: pointer;
    pointer-events: none; }

.playlist-track {
  display: flex;
  height: 150px;
  border-bottom: 1px solid #979797; }
  .playlist-track__img {
    cursor: pointer;
    width: 150px;
    height: 150px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    /* msie */
    background-color: #000; }
  .playlist-track__name {
    margin-bottom: 0.4em;
    text-align: center;
    font-weight: 700;
    font-size: 1rem; }
  .playlist-track__album {
    margin-bottom: 0.4em;
    text-align: center;
    font-weight: 300;
    font-size: .6rem; }
  .playlist-track__arist {
    margin-bottom: 0.4em;
    text-align: center;
    font-weight: 400;
    font-size: .8rem; }
  .playlist-track__play-btn {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .playlist-track__play-svg {
    height: 80px;
    width: 70%; }
  .playlist-track__progress-bar {
    height: 10px;
    background-color: #E47A67; }
  .playlist-track__media {
    display: flex;
    flex-direction: column; }
  .playlist-track__body-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; }
  .playlist-track__volume-container {
    display: flex;
    align-items: center;
    align-self: center;
    margin-bottom: 10px; }

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6);
  /* Black w/ opacity */ }
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .modal__btn-container {
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .modal__btn-container {
        margin-top: auto;
        width: 100%; } }
  .modal--show {
    display: block; }

.extended-playlist {
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .extended-playlist {
      height: 90vh; } }
  .extended-playlist .playlist-bar, .extended-playlist .playlist-import, .extended-playlist .playlist-create {
    border-bottom: 1px solid #979797;
    padding: .4em;
    display: block; }
  .extended-playlist .playlist-list {
    display: block; }
  .extended-playlist .playlist-bar {
    height: auto;
    text-align: center;
    width: 100%; }
  .extended-playlist .playlist-retract {
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      .extended-playlist .playlist-retract {
        flex-direction: column; } }
  .extended-playlist .playlist-import {
    display: block;
    text-align: center; }
  .extended-playlist .playlist-create {
    width: 100%;
    border-left: none;
    font-size: 1em;
    text-align: center;
    height: auto; }
  .extended-playlist .playlist-list__playlist {
    margin-bottom: 0; }
    .extended-playlist .playlist-list__playlist--hide {
      display: none; }
    .extended-playlist .playlist-list__playlist--show {
      height: auto; }
  .extended-playlist .playlist-list__name {
    padding: 5px 5px 5px 20px;
    pointer-events: none; }
  .extended-playlist .track-wrapper {
    display: none; }
  .extended-playlist .track-wrapper--show {
    display: block;
    flex: 1; }
  .extended-playlist .playlist-track {
    background-color: #fff;
    color: #979797;
    position: relative; }
  .extended-playlist .media-controls {
    position: absolute;
    left: 34px;
    top: 20px; }
    .extended-playlist .media-controls:hover {
      transform: scale(1.2); }

.playlist {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #e4e4e4;
  overflow: auto;
  color: #3a3a3a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid #979797; }
  @media screen and (min-width: 768px) {
    .playlist {
      width: 40%;
      right: 20px; } }
  @media screen and (min-width: 1024px) {
    .playlist {
      width: 40%;
      right: 20px; } }
  .playlist-flex {
    display: flex;
    flex-direction: column;
    width: 100%; }
  .playlist-retract {
    display: flex;
    justify-content: space-between; }
  .playlist-import {
    display: none; }
    .playlist-import:hover {
      background-color: rgba(0, 0, 0, 0.3);
      color: white; }
  .playlist-bar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .playlist-bar:hover {
      background-color: rgba(0, 0, 0, 0.3);
      color: white; }
    .playlist-bar__info {
      pointer-events: none; }
  .playlist-active-animation {
    animation: animatedCaret 0.6s cubic-bezier(0.3, 0.13, 0.6, 0.89) forwards; }
  .playlist-list {
    display: none; }
  .playlist-create {
    display: flex;
    border-left: 1px solid #909090;
    align-items: center;
    justify-content: center;
    width: 70px; }
    .playlist-create:hover {
      background-color: rgba(0, 0, 0, 0.3);
      color: white; }
    .playlist-create__sign {
      font-size: 1.4em; }
  .playlist-list__playlist {
    position: relative;
    color: white; }
    .playlist-list__playlist:hover {
      background-color: rgba(0, 0, 0, 0.3);
      color: rgba(90, 88, 88, 0.9); }
  .playlist-list__name {
    display: inline-block;
    padding: 10px; }
  .playlist__show {
    display: flex; }
  .playlist-list__caret-container {
    margin-left: 10px; }

.hide-playlist {
  display: none; }

.remove-playlist {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  font-size: 2em;
  width: 40px; }
  .remove-playlist::after {
    content: "x"; }
  .remove-playlist:hover::after {
    right: 10px;
    border: 1px solid white;
    padding: 0.1em 0.4em;
    content: "remove";
    opacity: 1;
    transition: content 2s cubic-bezier(0.3, 0.13, 0.6, 0.89); }
  .remove-playlist:hover {
    transform: translateX(-50px);
    font-size: 1.2em;
    top: 10px; }

.cr-pl {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .cr-pl__submit {
    display: flex;
    flex-direction: column;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .cr-pl__submit {
        width: 80%; } }
  .cr-pl__name, .cr-pl__description {
    width: 100%;
    font-size: 1.2rem;
    border: 1px solid #e7d19c;
    border-radius: 5px;
    margin: 10px 0 10px 0; }
    @media screen and (min-width: 768px) {
      .cr-pl__name, .cr-pl__description {
        padding: .5em .2em; } }

.im-pl {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .im-pl__submit {
    display: flex;
    flex-direction: column;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .im-pl__submit {
        width: 80%; } }
  .im-pl__name, .im-pl__description {
    width: 100%;
    font-size: 1.2rem;
    border: 1px solid #e7d19c;
    border-radius: 5px;
    margin: 10px 0 10px 0; }
    @media screen and (min-width: 768px) {
      .im-pl__name, .im-pl__description {
        padding: .5em .2em; } }
  .im-pl__error {
    color: #aa3535; }

.cr-im-btn {
  border-radius: 5px;
  padding: 5px 10px; }
  .cr-im-btn--danger {
    background-color: #c53b3b; }
  .cr-im-btn--success {
    background-color: rgba(46, 144, 21, 0.801); }

.options {
  position: absolute;
  top: 10px;
  right: 16px; }

.options-dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 40px; }
  .options-dropdown__link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
    .options-dropdown__link:hover {
      background-color: rgba(39, 38, 38, 0.726); }

.show__elem {
  display: block; }

.tran-modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; }
  .tran-modal--genre {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    top: initial;
    left: initial; }
    @media screen and (min-width: 768px) {
      .tran-modal--genre {
        top: 0;
        left: 0; } }
    @media screen and (min-width: 1024px) {
      .tran-modal--genre {
        top: 0;
        left: 0; } }
  .tran-modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 90%;
    border-radius: 0.5rem; }
    @media screen and (min-width: 768px) {
      .tran-modal__content {
        width: 60%; } }
  .tran-modal--genre-mb {
    position: absolute;
    top: 0;
    left: 0;
    transform: initial;
    background-color: white;
    width: 100%;
    border-radius: 0.5rem; }
  .tran-modal__show-modal {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    padding: 1em 1.8em;
    z-index: 10; }
  .tran-modal__form {
    display: none; }
  .tran-modal__show-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 1em 1.5em;
    height: 100%; }

.btn {
  border-radius: 5px;
  padding: .2em .5em;
  font-size: 1.3em;
  color: white;
  width: 100px; }
  @media screen and (min-width: 768px) {
    .btn {
      padding: .2em .8em;
      width: 150px; } }
  @media screen and (min-width: 1024px) {
    .btn {
      width: 200px; } }
  .btn:hover {
    background-color: #bdbdbd; }
  .btn--success {
    background-color: #78b178; }
  .btn--decline {
    background-color: #bc6969; }

.mvs-select {
  width: 100%;
  margin-top: 20px;
  font-size: 1.2em;
  height: 40px; }
  @media screen and (min-width: 768px) {
    .mvs-select {
      width: 60%;
      margin-top: 40px;
      font-size: 1.4em; } }

.tabs {
  position: relative;
  clear: both;
  margin: 25px 0; }

.tab {
  float: left; }

.tab > label {
  background: #eee;
  padding: 10px;
  border: 1px solid #cccccc;
  margin-left: -1px;
  position: relative;
  left: 1px; }

.tab [type=radio] {
  display: none; }

.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
  height: 50vh;
  border-radius: 5px; }

[type=radio] ~ label {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

[type=radio]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2; }

[type=radio]:checked ~ label ~ .content {
  z-index: 1; }

.svg-try {
  position: absolute; }
  .svg-try-half path {
    stroke-dasharray: 280 280;
    stroke-dashoffset: 280;
    animation: draw 2s ease-in-out infinite; }
  .svg-try-pause {
    top: 39px; }
    .svg-try-pause path {
      stroke-dasharray: 280 280;
      stroke-dashoffset: 280;
      animation: drawReverse 2s ease-in-out infinite; }
  .svg-try-full path {
    stroke-dasharray: 280 280;
    stroke-dashoffset: 280;
    animation: draw 2s ease-in-out infinite; }

@keyframes draw {
  from {
    stroke-dashoffset: 280; }
  to {
    stroke-dashoffset: 0; } }
@keyframes drawReverse {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 280; } }
.media-controls {
  cursor: pointer; }
  .media-controls__play {
    stroke-dasharray: 280 280;
    animation: drawPlayReverse 0.2s cubic-bezier(0.3, 0.13, 0.6, 0.89) forwards;
    pointer-events: none; }
  .media-controls__pause {
    stroke-dasharray: 40 280;
    animation: drawPauseReverse 0.2s cubic-bezier(0.3, 0.13, 0.6, 0.89) forwards;
    pointer-events: none; }

@keyframes drawPlay {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: 240; } }
@keyframes drawPause {
  0% {
    stroke-dashoffset: -200; }
  75% {
    stroke-dashoffset: 0; }
  90% {
    transform: translateY(0px); }
  100% {
    transform: translateY(6.5px); } }
.play-ani {
  animation: drawPlay 0.2s cubic-bezier(0.3, 0.13, 0.6, 0.89) forwards; }

.pause-ani {
  animation: drawPause 0.3s cubic-bezier(0.3, 0.13, 0.6, 0.89) forwards; }

@keyframes drawPauseReverse {
  0% {
    stroke-dashoffset: 0; }
  100% {
    stroke-dashoffset: -100; } }
@keyframes drawPlayReverse {
  0% {
    stroke-dashoffset: 242; }
  100% {
    stroke-dashoffset: 100; } }
.inactive-dash {
  -webkit-stroke-dasharray: none !important;
  -moz-stroke-dasharray: none !important;
  -o-stroke-dasharray: none !important;
  stroke-dasharray: none !important; }
  .inactive-dash-pause {
    display: none; }

.tab-content--error {
  animation: tabError 1s cubic-bezier(0.3, 0.13, 0.6, 0.89) forwards; }

.tab-field-container {
  height: 150px; }
  @media screen and (min-width: 768px) {
    .tab-field-container {
      height: 250px; } }

@keyframes tabError {
  0% {
    transform: translate(5px); }
  25% {
    transform: translate(-5px); }
  50% {
    transform: translate(5px); }
  100% {
    transform: translate(0px); } }
.song-action {
  display: flex;
  border: 1px solid black;
  margin-top: 20px;
  width: 100%; }
  @media screen and (min-width: 768px) {
    .song-action {
      width: 80%; } }
  .song-action__img {
    width: 100px;
    height: 100px; }
  .song-action__song-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 2; }
  .song-action__song-name {
    color: black;
    text-align: center;
    width: 80%; }
  .song-action__song-artist {
    color: black;
    text-align: center;
    width: 80%; }

.no-result {
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  height: 70vh; }

.confirm-song {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40%;
  width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 0.5rem; }
  @media screen and (min-width: 768px) {
    .confirm-song {
      width: 40%; } }
  .confirm-song--fade {
    animation: fadeOut 2s forwards; }
  .confirm-song-checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #7ac142;
    stroke-miterlimit: 10; }
    .confirm-song-checkmark__check {
      transform-origin: 50% 50%; }
  .confirm-song__info {
    text-align: center; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes stroke {
  100% {
    stroke-dashoffset: 0; } }
.login-content {
  background: linear-gradient(to bottom, #E47A67, #FED4CA); }

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  height: 100vh; }
  @media screen and (min-width: 768px) {
    .login {
      width: 90%; } }
  @media screen and (min-width: 1024px) {
    .login {
      width: 100%; } }
  .login__welcome {
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 20px 0;
    height: 20%; }
    @media screen and (min-width: 768px) {
      .login__welcome {
        margin-bottom: 10px;
        font-size: 3rem; } }
    @media screen and (min-width: 1024px) {
      .login__welcome {
        font-size: 4rem;
        margin: 1.4em 0; } }
  .login__directions {
    height: 30%; }
  .login__directions-info {
    text-align: center;
    width: 100%;
    margin-bottom: .8em;
    color: black;
    line-height: 1.2em; }
    @media screen and (min-width: 768px) {
      .login__directions-info {
        font-size: 1.6rem; } }
    @media screen and (min-width: 1024px) {
      .login__directions-info {
        width: 50%; } }
  .login__guest {
    border: 1px solid black;
    padding: 1em; }
    @media screen and (min-width: 768px) {
      .login__guest {
        display: flex;
        justify-content: center;
        padding: 2em;
        width: 80%; } }
    @media screen and (min-width: 1024px) {
      .login__guest {
        padding: 2em; } }
    .login__guest-username, .login__guest-password {
      font-size: 1.2rem;
      line-height: 1.4em;
      color: black; }
      @media screen and (min-width: 768px) {
        .login__guest-username, .login__guest-password {
          font-size: 1.6rem; } }
  @media screen and (min-width: 768px) {
    .login__guest-fx {
      display: flex;
      justify-content: center;
      flex-direction: column; } }
  .login__account {
    font-size: 1.2rem;
    line-height: 1.4em;
    color: black; }
  .login__spotify-login {
    width: 100%;
    padding: 1em 2em;
    background-color: #1ED760;
    color: white;
    position: fixed;
    bottom: 0;
    text-align: center; }
    @media screen and (min-width: 768px) {
      .login__spotify-login {
        padding: .8em;
        width: 80%;
        font-size: 1.4rem;
        position: relative;
        margin-top: 40px;
        border-radius: 20px; } }
    @media screen and (min-width: 1024px) {
      .login__spotify-login {
        border-radius: 20px;
        width: 100%;
        background-color: #1ED760;
        color: white;
        font-size: 1.6rem;
        padding: 1em 4em; } }

/*# sourceMappingURL=styles.css.map */
